<div class="container my-custom-scrollbar">
    <div class="row">
        <form method="post" action="">
            <div class="input-group mb-3">
                <span class="input-group-text border-0" id="search-addon"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control rounded" placeholder="Title" name = "title"  />
                <input type="text" class="form-control rounded" placeholder="ISBN" name = "ISBN"  />
                <input type="text" class="form-control rounded" placeholder="img" name = "img"  />
                <input type="text" class="form-control rounded" placeholder="Author" name = "author"  />
                <input type="text" class="form-control rounded" placeholder="Inventory" name = "inventory"  />
                <input type="text" class="form-control rounded" placeholder="Category" name = "category"  />
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>

</div>